.show{
    display: block !important;
}


.catalog{
    width: 100%;
}

.card{
    margin-bottom:  50px;
    display: flex;
    flex-direction: row;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.info{
    width: 45%;
    padding-right: 10px;
}

.contact-info{
    width: 35%;
    padding-right: 10px;
}

.contact-info a{
    color: #536279;
}

.card-title{
    color: #536279;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

 a.card-title:hover{
    color: #f89c49;
}

.card p{
    font-size: 16px;
    padding-bottom: 5px;
}

.card .avatar{
    max-height: 150px;
}

.card-body{
    padding: 0px 25px;
    width: 100%;
}

.card-body span{
    color: #536279;
    font-weight: bold;
}

.rating span{
    font-size: 24px;
    color: #536279;
}

span.rate, p.rate{
    font-size: 16px;
}

.rating .checked {
    color: #f89c49;
  }

  .uscc-member img{
      height: 40px;
  }

  .uscc-member{
      margin-bottom: 15px;
  }

  .uscc-member-text{
      display: inline;
  }